* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

body {
  background-color: #F3E9DC;
  min-width: 320px;
  position: relative;
}

body *:not(code) {
  color: #5E3023;
}

.theme-background-1 {
  background-color: #C08552;
  color: black !important;
}

.theme-background-2 {
  background-color: #895737;
  color: #F3E9DC !important;
}

.theme-background-2:hover {
  background-color: #DAB49D;
  color: #333 !important;
}

main {
  padding-top: 100px;
  padding-bottom: 100px;
}

footer {
  padding: 1rem;
  z-index: 1023 !important;
}

p {
  width: 75%;
}

section {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.content {
  z-index: 100;
}

body::before {
  position: fixed;
  content: '';
  top: -5rem;
  right: -8rem;
  width: 100%;
  height: 100%;
  opacity: .2;
  z-index: 0;
  background-image: url('/images/form.png');
  background-size: 500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  transform: skew(15deg, 20deg);
  z-index: -1;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 30px;
  gap: 8px;
  margin: 0;

  width: 50%;

  background: #DAB49D;
  padding: 30px 40px;
  border-radius: 20px;
  color: #333;
}

form * {
  color: #333;
}

form .input-box,
form .select {
  width: 100%;
}

form .input-box > div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

form .input-box label {
  width: 100%;
  flex: 1;
}

form .input-box input:not([type='submit']),
form .select select {
  flex: 2;
  padding: 5px;
  width: 100%;
}

form .section-header {
  margin-top: 1rem;
}

.input-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.error {
  font-size: 10px;
  color: #ff0044;
}

.hljs {
  padding: 1rem 0 1rem 2rem !important;
}

